

.grid-6 {
  width: 940px;
  float: right;
}

.logo{
  float: left;
  padding-right: 15px;
}

div.header_bar{
  height: 80px;
  background-color: #E6FFE9;


}

h1{
  width: 40%;
  margin: 0px 0px 0px 0px;
}
.post{

  text-align: right;
}

h1.title{
  font-size: 30px;
  font: serif;
  color: yellow;
  width: 50%;

}

.title:visited{
  color: yellow;
}

image.logo{
  float: left;
  padding-left: 50px;

}

.thumbnail{
  width: 200px;
  height: 200px;
}

.sub_title{
  text-align: center;
}

.all_product{
  width: 33.333333333%;
  float:left;

}


.p_name{
  
}



.user_nav{
  text-align: right;
}

.image1{
  width: 467px;
  height: 400px;
  float: left;
  opacity: 0.5;
}

.image2{
  width: 467px;
  height:400px;
  float: left;
  opacity: 0.5;
}

.image3{
  width: 467px;
  height: 400px;
  float: left;
  opacity: 0.5;
}


.introduction{
  clear: both;
  height: 300px;
  padding: 50px;
  background-color: black;
}

.whats_hao{
  color: white;
  font-size: 30px;
}

.whats_haoo{
  color: white;
  font-size: 20px;
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

.footer{
  text-align: center;
  background-color: #DDDDDD;
}